.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.text-intro-loading{
 margin-bottom: 20%;
}

.bg-loader-intro {
  width: 100%;
  height: 100vh;
  background-color: #fe3569;
}