.modal-detail{
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10000000000000000;
  height: 100vh;
  background-color: white;
  -webkit-animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.margin-left-15{
  margin-left: -15px;
}
.title-card-list{
  max-width: 170px;
}


.add-promotion-card-selected{
  width: 25px;
  height: 25px;
  background-color:#fe3569;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  bottom: 15px;
  border-radius: 100px;
}

.contain-button-add{
  position: fixed;
  bottom: 15px;
}

.edit-white-selected{
  margin-bottom: 1px;
}

.close-editing-button{
  margin-top: 1px;
}

.container-adder{
  display: flex;
  width: 100;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.box-container{
  display: flex;
  align-items: center;
  margin-top: 7px;
  width: 86%;
  justify-content: space-around;
}

.count-adder{
  font-weight: 300;
}

.title-special-text{
  font-size: 0.9rem;
  padding-top: 6px;
  padding-bottom: 6px;
}

.instrucciones-especiales-title{
  background-color:#eeeeee;
  color:  #767474;
}

.add-product{
  width: 109px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccccd2;
  border-radius: 40px;
}

.fade-out-bottom {
	-webkit-animation: fade-out-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}


 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.bg-image-detail-color{
  background-image: linear-gradient(to bottom, rgba(38, 39, 61, 0.2), #26273db1);  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.product-title-modal{
  text-align: center;
  font-weight: 400;
}

.product-price-modal{
  text-align: center;
  font-weight: 300;
  padding: 0 10px;
}

.description-product-modal{
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 200;
  text-align: center;
}

.div-image-detail{
  width: 100%;
  height: 22%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button-close-modal{
  position: absolute;
  top: 16px;
  right: 4px;
}

.popup-button {
  margin-top: 70px;
}

.pt-10{
  padding-top: 70px !important;
}

.image-item-list{
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-grew-hr{
  color:#d8d8d8;
  border-color: #d8d8d8;
}

.image-top-list{
  background-image: linear-gradient(to bottom, rgba(150,150,150, 0.3), #26273d);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px !important;
}

.strike-black {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike-black > span {
  position: relative;
  display: inline-block;
}

.strike-black > span:before,
.strike-black > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike-black > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike-black > span:after {
  left: 100%;
  margin-left: 15px;
}

