.modal-detail{
  position: fixed;
  top: 0px;
  z-index: 10000000;
  height: 100vh;
  background-color: white;
  -webkit-animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out-bottom {
	-webkit-animation: fade-out-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}


 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.bg-image-detail-color{
  background-image: linear-gradient(to bottom, rgba(38, 39, 61, 0.2), #26273db1);  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.div-image-detail{
  width: 100%;
  height: 201px;
  position: relative
}

.button-close-modal{
  position: absolute;
  top: 16px;
  right: 4px;
}

.popup-button {
  margin-top: 70px;
}

.pt-10{
  padding-top: 70px !important;
}

.image-item-list{
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-grew-hr{
  color:#d8d8d8;
  border-color: #d8d8d8;
}

.image-top-list{
  background-image: linear-gradient(to bottom, rgba(150,150,150, 0.3), #26273d);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px !important;
}

.strike-black {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike-black > span {
  position: relative;
  display: inline-block;
}

.strike-black > span:before,
.strike-black > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike-black > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike-black > span:after {
  left: 100%;
  margin-left: 15px;
}

