.toaster{
  top: 0;
  z-index: 1000000000!important;
  position: fixed;
 }
 .toaster > div {
  display: flex !important;
  flex-direction: row !important;
  padding: 20px ;
  padding-top: 18px;
 }
 .mtop-Toastcross{
  margin-top: 8px;
 }
 .max-width-200{
   max-width: 300px;
 }

 .w-40px{
   width: 40px;
   text-align: center;
 }