.image-enterprise{
  width: 120px;
  height: 120px;
  border-radius: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 3rem;
}
.board-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.board-rest-name{
  margin-top: 1.5rem; 
  font-weight: 500;
  margin-bottom: 0px !important;
}
.image-board-bag{
  z-index: -1;
}
.location-info{
  font-size: 13px;
}
.location-div{
  margin-top: 0px;
}
.board-table{
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 15px;
  color: grey;
  font-weight: 300;
}

/* ---  Animations --- */


/* Safari 4.0 - 8.0 */
@-webkit-keyframes blackBlur {
  from {
    background-color: rgba(38, 39, 61, 0.6);

  }
  to {
    background-color: rgba(38, 39, 61, 0.6);

  }
}

/* Standard syntax */
@keyframes blackBlur {
  from {
    background-color: rgba(38, 39, 61, 0.6);

  }
  to {
    background-color: rgba(38, 39, 61, 0.6);

  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blurAnimation {
  from {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  to {
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
}

/* Standard syntax */
@keyframes blurAnimation {
  from {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  to {
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
}

.blur{
  -webkit-animation-name: blurAnimation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: blurAnimation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.black-blur {
  -webkit-animation-name: blackBlur; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: blackBlur;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  position: fixed;
  z-index: 1000000000000000000000000;
  width: 100vw;
  height: 100vh;
} 

.wrap-close{  position: fixed;
  z-index: 1000000000000000000000000;
  width: 100vw;
  height: 100vh;}