.card-promotion-div{
  border-radius: 7px !important;
  -webkit-box-shadow: 0px 0px 23px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 23px -16px rgba(0,0,0,0.75);
box-shadow: 0px 0px 23px -16px rgba(0,0,0,0.75);
}
.add-promotion-card{
  width: 25px;
  height: 25px;
  background-color:#f5c3d0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  bottom: 15px;
  border-radius: 100px;
} 

.more-icon-promotions{
  color: white;
  font-size: 19px;
}
.info-promotion-text-div{
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 0.5rem;
}

.card-promotion-title{
  margin-bottom: 0px !important;
  font-size: 16px;
}

.info-promotion{
    margin-top: 5px;
}

.price-promotion-card{
  position: absolute;
  padding: 3px 12px;
  color: white;
  right: 0px;
  top: 0px;
  background-color:#fe3569;
  border-radius: 0px  4px  0px  4px;
}

.card-promotion-text{
  color: #989ba2;
  margin-bottom: 0px;
}

.card-text-span-promotion{
  margin-top: 2px!important;
  position: absolute;
  font-size: 14px;
}

.image-promotion{
  border-radius: 4px 0px 0px 4px;
  min-height: 115px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}