.result-qr{
  color: white;
  text-align: center;
}
.btn-pink{
  background-color:#fe3569;
}

.qr-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.bg-qr{
  background-color: #25273d;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.enjoyed{
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.payment-item{
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  vertical-align: middle;
}

