.image-product{
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover
}
.max-size-image-list{
  max-width: 60px;
}
.overflow-hidden-listproduct{
  overflow-y:scroll;
  height:400px;

}
.box{
  width: 45%
}
.crose-delete-food{
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}
::placeholder{
  font-size: 13px;
}

.card-form-menus{
  box-shadow: 2px 2px 10px #00000021;
    background-color: #fff;
    border-radius: 5px;
}