.background-card{
  background-image: linear-gradient(to bottom, rgba(150,150,150, 0.3), #26273d);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.body-category-info{
  z-index: 1000000;
  color: white;
}

.center-table{
  display: flex;
    justify-content: center;
}

.category-card-food{
  border: none !important;
  border-radius: 6px !important;
}

.background-card{
  border-radius: 6px;
}

.button-more-promotions{
  margin-bottom: -1px;
}
.asientos-top{
  display: flex;
  justify-content: row;
  justify-content: space-around
}
.asientos-bottom{
  display: flex;
  justify-content: row;
  justify-content: space-around
}
.mesa{
  width: 300px;
  height: 200px;
  background-color: red;
}

.asiento-1{
width: 50px;
height: 30px;
background-color: blue;
}
.asiento-2{
  width: 50px;
  height: 30px;
  background-color: blue;
  }

@media screen and (min-width: 992px) {
  .mesa{
    width: 400px;
    height: 300px;
    background-color: red;
  }
}