body{
  font-family: 'Poppins', sans-serif !important;
}

.pink{
  color:#fe3569;
}
.grey{
  color: #d8d8d8;
}
.white{
  color: white;
}

.absolute{
  position: absolute;
}

.fixed {
 position: fixed;
 z-index: 10000000;
}
.container-button-more button{
  outline: none !important;
}

.absolute{
  position: absolute !important;
}

