body{
  font-family: 'Poppins', sans-serif !important;
}
.pink{
  color:#fe3569;
}
.grey{
  color: #d8d8d8;
}
.dark-blue{
  color: #25273d;
}
.white{
  color: white;
}
.absolute{
  position: absolute;
}
.light-grey{
 color: #ccccd2;
}
.light-font{
  font-size: 200;
}
.fixed {
 position: fixed;
 z-index: 10000000000000000;
}
.container-button-more button{
  outline: none !important;
}

.absolute{
  position: absolute !important;
}

