body{
  font-family: 'Poppins', sans-serif !important;
}

.pink{
  color:#fe3569;
}

.white{
  color: white;
}

.absolute{
  position: absolute;
}

.fixed {
 position: fixed;
 z-index: 10000000;
}
.container-button-more button{
  outline: none !important;
}

.absolute{
  position: absolute !important;
}

.react-slidedown.my-dropdown-slidedown{
  position: fixed !important;
  width: 100%;
  z-index: 1100000000000000000;
}
.react-slidedown {
  transition-duration: 0.2s !important;
  transition-timing-function: ease-in-out;
}