
.border-pink{
  border: 2px solid #fe3569 !important;
  color: #fe3569 !important;
  transition: 0.3s;
}


.btn-order-by{
  padding-top: 12px!important;
  padding-bottom: 13px!important;
  border-radius: 6px !important;
  font-size: 17px !important;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgba(255,255,255,0.1);
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.btn-pink{
  background-color: #fe3569 !important;
  color: white!important;
}

.btn-white-dark-color{
  margin-top: 7px;
  color: #25273d !important;
  background-color: white !important;
  padding: 10px !important;
  border-radius: 6px !important;
}

.btn-pink-color-white{
  background-color: #fe3569 !important;
  color: white !important;
  padding: 13px !important;
  border-radius: 6px !important;
  margin-top: 7px;
  font-size: 17px ;
}


.btn-border-pink-color-pink{
  border:2px solid #fe3569 !important;
  color: #fe3569 !important;
  padding: 10px !important;
  border-radius: 6px !important;
  margin-top: 7px;
}




.btn-linear-white-bg-trans{
  margin-top: 7px;
  border: 2px solid white !important;
  color: white !important;
  background-color: transparent;
  padding: 10px !important;
  border-radius: 6px !important;
}

.btn-linear-white{
    border: 2px solid white !important;
    color: white !important;
}

.border-pink:hover{
  background-color: #fe3569 !important;
  color: white !important;
}


@media (max-width: 320px) {
  .btn-order-by{
    font-size: 15px !important;
  }
}