.user-rating{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-rating-info{
  display: flex;
 
}
.waiters-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}